.biere {
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    display: flex;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.85) ;
    height: 200px;
    width: 400px;
    text-align: center;
}

.biere h2{
    font-size: 20px;
}

.biere p{
    
}

.biere .texte{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.img-biere{
    width: 40%;
    height: 100%;
    overflow: hidden
}

.img-biere img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}